header {
  display: flex;
  justify-content: space-between;
  align-items: start;
  margin-bottom: 30px;
}

.timer-home {
  font-size: 36px;
  font-weight: 700;
  display: flex;
  justify-content: center;
  margin-bottom: 30px;
}

.timer-home__colon {
  margin: 0 3px;
}

.timer-home__comment {
  margin-top: 5px;
  font-size: 16px;
  font-weight: 100;
  color: rgb(167, 166, 166);
}
.total-bank__wrapper {
  text-align: center;
  font-weight: 600;
}

.total-bank {
  margin-bottom: 3px;
  font-size: 60px;
  font-weight: 600;
  color: rgb(81, 112, 255);
  text-shadow: rgba(0, 0, 0, 0.325) 0px 2.39996px 10.1998px;
}

.total-bank__comment {
  color: rgb(167, 166, 166);
}
