@import 'tailwindcss';

@theme {
  --color-blue-home: rgba(53, 51, 205);
  --color-blue: rgb(81, 112, 255);
  --color-subtext: rgb(167, 166, 166);
  /* ... */
}

body {
  font-family: Arial, sans-serif;
  background: black;
  color: white;
}
